*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#0077b6;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.hero{
    background:#90e0ef;
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

button{
    background:#0077b6;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#023e8a;
}

section{
    padding:40px;
}

.card{
    background:white;
    margin:20px 0;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}

footer{
    background:#0077b6;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

@media(max-width:768px){
    nav a{
        display:block;
        margin:10px 0;
    }

    .hero h2{
        font-size:30px;
    }
}
form{
    max-width:500px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input,select{
    width:100%;
    padding:12px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

label{
    font-weight:bold;
}